<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="Arm" type="system">
      <hardware>
          <!-- By default, set up controllers for simulation. This won't work on real hardware -->
          <plugin>mock_components/GenericSystem</plugin>
      </hardware>
      <joint name="base_link_link1">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0</param>
          </state_interface>
      </joint>
      <joint name="link1_link2">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0</param>
          </state_interface>
      </joint>
      <joint name="link2_link3">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0</param>
          </state_interface>
      </joint>
      <joint name="link3_link4">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0</param>
          </state_interface>
      </joint>
      <joint name="link4_link5">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0</param>
          </state_interface>
      </joint>
      <joint name="link5_link6">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0</param>
          </state_interface>
      </joint>
      <joint name="link6_end_effector">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0</param>
          </state_interface>
      </joint>
      <joint name="claw_base_finger_one">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0</param>
          </state_interface>
      </joint>

  </ros2_control>
</robot>
